
.btn {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    background: #ACECA1;
    color: #629460;
    font: 40px monospace;
    border-radius: 32px;
    box-shadow: 0px 0px 2px 2px #243119;
    border: solid 5px #96BE8C;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    animation: txtFlyIn .7s linear;
}

.btn2 {
    display: inline-block;
    margin: 5px;
    text-decoration: none;
    background: #568ece;
    color: #3b5f39;
    font: 26px monospace;
    border-radius: 16px;
    box-shadow: 0px 0px 2px 2px #243119;
    border: solid 5px #5f4f9f;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    animation: txtFlyIn .7s linear;
}

.btnInfo {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    background: #ACECA1;
    color: #629460;
    font: 24px monospace;
    border-radius: 24px;
    box-shadow: 0px 0px 2px 2px #243119;
    border: solid 5px #96BE8C;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    animation: txtFlyIn .7s linear;
}

.content {
    background-color:rgba(255,255,255,.8);
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
    border-radius: 16px;
}

.contentMode1 {
    background-color:rgba(255,255,255,.8);
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
    border-radius: 16px;
    width: 60%;
}

.contentMode2 {
    background-color:rgba(255,255,255,.8);
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
    border-radius: 16px;
    width: 70%;
}

.contentHowtoPlay {
    background-color:rgba(255,255,255,.8);
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
    border-radius: 16px;
    width: 80%;
}

.Qnumber {
    display: inline-block;
      margin: 10px;
      text-decoration: none;
      background: #ACECA1;
      color: #629460;
      font: 40px monospace;
      border-radius: 32px;
      box-shadow: 0px 0px 2px 2px #243119;
      border: solid 5px #96BE8C;
      cursor: pointer;
      text-align: center;
      padding: 10px;
    }
    
.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
    }
    
.bg2 {
animation-direction:alternate-reverse;
animation-duration:4s;
}

.bg3 {
animation-duration:5s;
}

.transition-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 9999;
}

.transition-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    animation: slideOut 1s forwards;
}

body {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    background-color: #C9F2C7;
    text-align: center;
    height: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    height: 100px;
    /* background-color: white; */
}

h1 {
    color: #156912;
    text-align: center;
    font-size: 64px;
    animation: float 5s ease-in-out infinite;
}

h2 {
    color: black;
    text-align: center;
    font-size: 28px;
    animation: txtFlyIn2 .7s linear;
}

h3 {
    color: black;
    text-align: center;
    font-size: 24px;
    animation: txtFlyIn2 .7s linear;
}

h4 {
    color: #629460;
    text-align: center;
    font-size: 48px;
    margin-top: 1px;
    animation: questionFlyIn .7s linear;
}

h5 {
    color: black;
    text-align: center;
    font-size: 64px;
    animation: questionFlyIn .7s linear;
}

#word,
#sentence,
#constructedSentence {
    font-size: 40px;
    margin: 20px;
}

.options {
    margin-top: 20px;
}

.selected {
    outline: 5px solid #4c0603;
    /* Estilo para item selecionado */
}

.hidden {
    display: none;
}


  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
  
 @keyframes float {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes txtFlyIn{
    0% { transform:translateX(-100%); }
    100% { transform:translateX(0%); }
}

@keyframes questionFlyIn{
    0% { transform:translateY(-100%); }
    100% { transform:translateY(0%); }
}

@keyframes txtFlyIn2{
    0% { transform:translateY(100%); }
    100% { transform:translateY(0%); }
}